
body {
    background-color: #EEF6F9;
    overflow-x: hidden;
    margin: 0%;
}
* {
    font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #24a3b5;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px whitesmoke;
    border-radius: 10px;
}

::selection {
    color: #24a3b5;
    background: whitesmoke;
}
.box0 {
    background-color:white;
    padding: 1% 2% 3% 2%;
}
.left_arrow {
    font-size:50px;
    margin-left:20px;
    margin-top:20px;
}
.shopclues {
    height:30px;
    width:160px;
    margin-left:15px;
    margin-top:20px;
}
.container-1 {
    background-color:white;
    width:1320px;
    margin-left:20px;
    margin-top:20px;
}
.heading {
    font-size:24px;
    margin-left:15px;
    font-weight: 500;
    padding: 1%;
    padding-top: 2%;
}
.coupon {
    color:grey;
    font-size:15px;
    border-bottom:1px solid #F0F0F0;
    border-top:1px solid #F0F0F0;
    height:20px;
    padding:30px;
}
.img {
    border:1px solid #F0F0F0;
    height:100px;
    width:100px;
}
.small-img {
    height:90px;
    width:90px;
    padding:5px;
    cursor: pointer;
}
.product {
    color:grey;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:25px;
    cursor: pointer;
    width: 260px;
}
.box0>span>a {
    text-decoration: none;
    color: black;
}
.span{
    display: flex;
}
#minus {
    border:1px solid transparent;
    height:25px;
    width:25px;
    font-size:18px;
    border-radius:20px;
    background-color:#F0F0F0;
    color:black;
    margin-left:120px;
    cursor: pointer;
    text-align: center;
}
#number {
    font-size:20px;
    margin-left:15px;
}
.plus {
    border:1px solid transparent;
    height:25px;
    width:25px;
    border-radius:20px;
    background-color:#F0F0F0;
    color:black;
    font-size:18px;
    margin-left:15px;
    cursor: pointer;
    text-align: center;
}
.price {
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:140px;
    font-size:15px;
}
.rate {
    color:black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
#money {
    color:black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:250px;
    font-size:20px;
    font-weight: bold;
}
span {
    display: flex;
    align-items: center;
    height:20px;
    width:1200px;
}
.cod {
    color:#E24155;
    margin-left:30px;
    margin-bottom:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
}
.box1 {
    display:flex;
    margin-top:50px; 
    border-bottom:1px solid #F0F0F0;
    height:150px;
}
.box1-1 {
    margin-top:10px;
}
.box1-2 {
    margin-top:10px;
    font-size:15px;
}
.remove {
    color:#24B3D6;
    margin-left:280px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:17px;
    cursor: pointer;
    font-size:15px;
}
.fee {
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:160px;
    font-size:15px;
}
.free {
    color:black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
.tax {
    color:grey;
    font-size:10px;
    margin-left:210px;
}
.container-2 {
    display:flex;
    margin-top:15px;
    height:200px;
    width:1320px;
    margin-left:20px;
    background-color:white;
}
.image {
    height:40px;
    width:40px;
    background-color:white;
    margin-top:20px;
    margin-left:20px;
}
.delivery {
    font-family: Arial, Helvetica, sans-serif;
    margin-left:20px;
    color:grey;
}
.first-box {
    height:200px;
    width:350px;
}
.third-box {
    height:200px;
    width:350px;
    margin-left:600px;
}
.total {
    font-size:16px;
    margin-top:50px;
    margin-left:75px;
}
#rs {
    font-size:18px;
    margin-top:50px;
    margin-left:150px;
}
.totals {
    margin-top:80px;
    font-size:18px;
    margin-left:75px;
    font-weight: 700;
}
#amount {
    margin-top:80px;
    font-size:18px;
    margin-left:85px;
    font-weight: 700;
}
.taxes {
    color:grey;
    font-size:10px;
    margin-left:82px;
    margin-top:35px;
}
.place {
    border:1px solid transparent;
    margin-left:100px;
    width:230px;
    height:50px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:5px;
    font-size:20px;
    margin-top:15px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(0deg,#ff934b 0%,#ff5e62 100%);
}
.first-1 {
    margin-top:30px;
}
.first-2 {
    margin-top:10px;
    margin-left:80px;
}
.pincode {
    border:1px solid #18A6B2;
    height:40px;
    width:142px;
    text-align: center;
    color:grey;
    font-weight: bold;
    font-size:14px;
    margin-top:15px;
}
.submit {
    border:1px solid transparent;
    background-color:#18A6B2;
    height:45px;
    width:80px;
    text-align: center;
    color:white;
    font-size:15px;
    margin-top:15px;
    cursor: pointer;
}
