body {
  margin: 0px;
  color: #333333;
  font: normal 14px/1.42857143 Roboto, Arial, Helvetica, sans-serif;
  font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #eff7fa;
}

.cart_steps {
  box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 6%);
  background: #ffffff;
  margin: 0;
  min-height: 50px;
  display: block;
  padding-top: 2%;
}
.sc_contect_wraper{
  max-width: 1366px;
  min-width: 1000px;
  height: 100%;
  padding: 0 15px;
  position: relative;
}

.logo {
  display: inline-block;
  width: auto;
  padding: 0;
  position: relative;
  margin: 1px 0 0 0;
}
.logo>a{
  outline: none;
  border: none;
}
.n_steps {
  float:right;
  display: inline-block;
  margin: 0;
}
.n_steps ul {
  padding: 0;
  margin: 0;
  position: relative;
}
.n_steps ul li {
  display: inline-block;
  padding: 4px 0 0 38px;
  margin: 0 30px 0 0;
  position: relative;
  list-style-type: none;
  line-height: 26px;
  color: #c5c3c3;
  font-weight: 500;
  font-size: 14px;
}
.cart_steps .n_steps ul > .progress::before {
  border-color: #24a3b5;
  color: #24a3b5;
}
.cart_steps .n_steps ul > .progress {
  color: #212121;
}
.n_steps ul li:nth-child(1)::before {
  content: "1";
}
.n_steps ul li:nth-child(2)::before {
  content: "2";
}
.n_steps ul li:nth-child(3)::before {
  content: "3";
}
.cart_steps .n_steps ul li::before {
  border-radius: 50px;
  color: #c5c3c3;
  display: block;
  font-size: 16px;
  height: 31px;
  left: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 31px;
  font-weight: 500;
  border: 3px solid #c5c3c3;
}

.logo>a>img {
  border: 0;
  width: 152px;
  max-width: 100%;
  page-break-inside: avoid;
  vertical-align: middle;
}
#payment_sec {
  display: flex;
  /* border: 1px solid red; */
  max-width: 1366px;
  min-width: 1000px;
  height: 100%;
  width: 95%;
  margin: auto;
  margin-top: 1%;
  background-color: #ffffff;
}
#payment_sec > div:nth-child(2),div:nth-child(3) {
  flex: 1;
}
#methods {
  width: 350px;
  padding-top: 1%;
}
.radio_methods {
  padding: 5%;
}
#methods .radio_methods ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: #e5e5e5 solid 1px;
}
#methods .radio_methods ul li {
  padding: 10px 10px 10px 10px;
}
h3 {
  color: #353535;
  font-weight: 700;
  font-size: 18px;
  font-family: Roboto, Arial, Helvetica, sans-serif;;
}
#payment_sec h3 {
  margin-left: 5%;
  margin-top: 3%;
}
#card_details .form_box {
  border: 1px solid #ddd;
  /* padding: 30px; */
  padding-left: 15px;
  padding-top: 5%;
  height: 20%;
  margin-top: 10%;
}
#card_details {
  padding: 1%;
}
input[type="submit"] {
  font-size: 15px;
  height: 45px;
  width: 97%;
  color: #ffffff;
  padding: 8px;
  border-radius: 3px;
  outline: none;
  background-color: #eb7f00;
  cursor: pointer;

  background-image: -webkit-linear-gradient(
    0deg,
    rgb(255, 147, 75) 0%,
    rgb(255, 94, 98) 100%
  );

  box-shadow: 0px 2px 8px 0px rgb(255 97 98 / 46%);
}
#card_details input {
  margin-top: 1%;
  line-height: 20px;
  border: none;
  margin-bottom: 5%;
  border-bottom: 1px solid #d9534f;
}
#card_details input:focus {
  outline: none;
}

.card_name {
  width: 95%;
}

/* #card_details input:hover {
  border-bottom: 1px solid grey;
} */
.form p {
  margin-top: -20px;
  font-size: 12px;
  color: #d9534f;
  display: none;
  margin-bottom: 0%;
}
.card_num {
  width: 95%;
}
.validity {
  width: 15%;
}
.cvv {
  float: right;
  margin-right: 4%;
}
.logos {
  text-align: center;
  margin: 2%;
}
.discount_details {
  font-size: 14px;
  font-weight: normal;
  color: #757575;
  display: inline-block;
  padding: 15px 20px 15px 60px;
  border: 1px dashed #84d0db;
  position: relative;
  background: #e8f6f8;
  text-align: left;
  border-radius: 3px;
}
.discount_details img {
  /* width: 38px;
  height: 46px; */
  size: 14px;
  float: left;
  top: 10px;
  left: 21px;
}
.applied_offer {
  width: 260px;
  height: 220px;
  padding: 15px 0;
  padding-left: 0px;
  display: block;
  border: 1px dashed #00bc71;
  margin-left: 5%;
  margin-top: 14%;
}
.applied_offer ul li {
  list-style: none;
  display: inline-block;
  padding: 6px 20px !important;
  position: relative;
  /* width: 100% !important; */
  margin: 0 0 8px 0;
}
.applied_offer ul li img {
  float: left;
  position: relative;
  max-width: 30px;
  top: 5px;
}
.applied_offer ul li label {
  margin: 0 0 0 40px;
  display: block;
  font-size: 12px;
  color: #777777;
}
.applied_offer ul {
  padding: 0px;
  margin: 0px;
}
.radio {
  padding: 25px;
}